html,
body {
    margin: 0;
    padding: 0;
    background-color: #2A1A1F;
}
.gallery {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.photo {
    border: .1rem solid #fff;
    border-radius: .7rem;
    margin: .5rem;
}
.photo:not(#selected-photo):hover {
    cursor: pointer;
}